<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<% if flash[:notice] %>
  <p id="notice">
  <%= flash[:notice] %>
  </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>